<input type="hidden" name="vt_geko-nonce" id="vt_geko-nonce" value="{{ nonce }}" />

<p><strong>Magazine</strong><br />
<p class="geko-filename">{{ post.name | default('Aucun document choisi') }}</p>
<p><button type="button" class="button button-primary geko_upload">Choisir un document</button></p>
<p><button type="button" class="components-button editor-post-trash is-tertiary is-destructive pdf_delete">Supprimer le document</button></p>

<input class="url" type="hidden" name="url" size="60" value="{{ post.name }}">
<input class="name" type="hidden" name="name" size="60" value="{{ post.url }}">
</p>

<script>


jQuery(document).ready(function($) {
    $('.geko_upload').click(function(e) {
        e.preventDefault();

        var custom_uploader = wp.media({
            title: 'Choisir un document',
            button: {
                text: 'Choisir un document'
            },
            multiple: false  // Set this to true to allow multiple files to be selected
        })
        .on('select', function() {
            var attachment = custom_uploader.state().get('selection').first().toJSON();
            console.log(attachment);
            $('.url').val(attachment.url);
            $('.name').val(attachment.filename);
            $('.mag-filename').html(attachment.filename);

        })
        .open();
    });
    
    $('.geko_delete').click(function(e) {
        e.preventDefault();
        $('.url').val('');
        $('.name').val('');
        $('.geko-filename').html('Aucun document choisi');
    });
});
</script>
    </form>
</div>
